body {
  overflow-x: hidden;
}

header {
  padding: 0 1em;
}
header h1 {
  color: #2d3950;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
}
header h1 img {
  margin-right: 10px;
}
header h1 a {
  text-decoration: none;
}

.welcome {
  background: url("../img/background.png") center/cover no-repeat;
  min-height: 100vh;
  text-align: center;
}
.welcome h1 {
  display: inline-block;
  border-bottom: 2px solid #15a4fa;
  color: #ffffff;
  font-family: Lato;
  font-size: 7em;
  font-weight: 700;
  line-height: 1em;
  padding-top: 10%;
  text-transform: uppercase;
}
.welcome p {
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2%;
}
.welcome .button {
  text-decoration: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #15a4fa;
  border-radius: 2px;
  padding: 0.5em 1em;
  margin-top: 1em;
  display: inline-block;
}

.angle a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10%;
}

.main-information {
  background: #f6f9f9 center/cover;
  text-align: center;
  padding: 6em;
}
.main-information h2 {
  color: #2d3950;
  font-family: Lato;
  font-size: 40px;
  font-weight: 400;
}
.main-information p {
  color: #999;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 2em;
}

.category {
  padding: 4em 0;
}
.category .category-colum {
  list-style: none;
}
.category .category-colum li {
  display: inline-block;
  text-align: center;
}
.category .category-colum li h3 {
  color: #2d3950;
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
}
.category .category-colum li p {
  color: #999;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.category .category-colum li .icons {
  display: inline-block;
  width: 100px;
  color: #ffffff;
  padding: 25px;
  background-color: -webkit-linear-gradient(left, #48baff, #48baff 50%, #5fc3ff 50%, #5fc3ff);
  background-color: linear-gradient(left, #48baff, #48baff 50%, #5fc3ff 50%, #5fc3ff);
}
.category .category-colum li .mobile {
  padding: 20px;
}

.preview {
  text-align: center;
  background: #f6f9f9;
  padding: 4em 0;
}
.preview h2 {
  color: #2d3950;
  font-family: Lato;
  font-size: 41px;
  font-weight: 400;
}
.preview p {
  color: #909090;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.preview-list {
  list-style: none;
}
.preview-list li {
  display: inline-block;
  margin-top: 2%;
}

.example .overlay {
  width: 82%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 15px;
  background-color: rgba(21, 164, 250, 0.9);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.example img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 3px;
  border: 1px solid #f1f1f1;
}

.example a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 110px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.example a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.example:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.example:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.form {
  background: url("../img/layer-36.png") center/cover no-repeat;
  min-height: 100vh;
  text-align: center;
}
.form .color {
  background-color: rgba(45, 57, 80, 0.9);
  min-height: 100vh;
  padding: 3em 0;
}
.form h2 {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 41px;
  font-weight: 400;
}
.form p {
  color: #999;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.form-group input {
  padding: 5px;
  outline: none;
  background: transparent;
  border: 1px solid #999;
  border-radius: 2px;
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

.form-group textarea {
  outline: none;
  border: 1px solid #999;
  border-radius: 2px;
  background: transparent;
  resize: none;
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

::-webkit-input-placeholder {
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

::-moz-placeholder {
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

:-moz-placeholder {
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #999;
  font-family: Lato;
  font-size: 15px;
}

.submit {
  background: transparent;
  border: 1px solid #15a4fa;
  border-radius: 2px;
  padding: 6px 25px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  float: right;
}

label {
  color: white;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.checkbox {
  float: left;
}

footer {
  background: #f6f9f9;
  padding: 25px 0;
}
footer p {
  color: #999;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.social ul {
  list-style: none;
}
.social ul li {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
}
.social ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.facebook {
  background-color: #15a4fa;
  border-radius: 2px;
  padding: 13px 18px;
}
.facebook:hover {
  background-color: #00a7fb;
}

.twitter {
  background-color: #15a4fa;
  border-radius: 2px;
  padding: 13px 14px;
}
.twitter:hover {
  background-color: #00a7fb;
}

.google-plus {
  background-color: #15a4fa;
  border-radius: 2px;
  padding: 13px 10px;
}
.google-plus:hover {
  background-color: #ff2222;
}

.linkedin {
  background-color: #15a4fa;
  border-radius: 2px;
  padding: 13px 15px;
}
.linkedin:hover {
  background-color: #00a7fb;
}
