@font-face {
    font-family: "Helios";
    src: url("../fonts/HeliosRegular/HeliosRegular.eot");
    src: url("../fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosRegular/HeliosRegular.woff") format("woff"),
    url("../fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    background-color: white;/*а одной строкой никак?*/
    background-image: linear-gradient(#ced8d8,transparent);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    margin: 0;
    padding: 0;
    width: 1200px;/*зачем*/
}
.head {
    width: 776px;
    margin: 0 212px; /*зачем такие большие значения?*/
    border-bottom: 1px solid grey;
    float: left;
}
.logo {
	margin: 41px 0;
}
.login {
	margin-left: 590px;
    width: 158px;
    height: 22px; /*высота?*/
    padding: 7px 15px 5px;
    background: white;
    border-radius: 0 0 30px 30px;
}
.reg .in {
} /*зачем пустое?*/
.reg {
    float: left;
    text-decoration: none;
    border-right: 1px solid grey;
    padding: 0 10px;
    font-family: Arial;
    font-size: 11px;
    color: #747474;
    margin: 0 0 0 10px;

}
.in {
	float: right;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    color: #02a4fa;
    margin: 0 30px 0 0;
}
.it {
    margin: 38px 29px 0 0;
    float: right;
	color: #646464;
    font-family: "Helios";
    font-size: 15px;
    font-weight: 600; /*400*/
    line-height: 33px;
}
.tab {
	margin: 0 27px 0 350px; /*350?*/
    width: 399px;
    height: 45px;

}
.tab ul {
    list-style: none;

}
.tab ul li{
    float: left;
    font-size: 16px;
    margin: 0 -1px -1px 0;
}
.tab ul li a{
    display: block;
    text-decoration: none;
    padding: 13px;
}
.main {
	border: 1px solid gray;
    border-bottom-color: #e8eced;
    border-radius: 30px 0 0 0;
    background-image: linear-gradient(#fff,#e8eced);

}
.goal {
    border: 1px solid gray;
    background-image: linear-gradient(#e5eaeb,#d9d7d5);

}
.comp {
	border: 1px solid gray;
    border-radius:  0 30px 0 0;
    background-image: linear-gradient(#e5eaeb,#d9d7d5);
}
.main a {
	color: #45b8fb;
    font-family: Arial;
    font-size: 16px;
}
.goal a, .comp a {
	color: #939598;
    font-family: Arial;
    font-size: 16px;
}
.side {
	float: left;
    width: 230px;
    margin: 25px 0 0 210px;
    padding: 0;
}
.categ {
	text-decoration: none;
}
.categ h3 {
    color: #03a7fe;
    font-family: Arial;/*А одной строкой?*/
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}
.side ul {
	list-style: none;
    text-decoration: none;
    padding-left: 0;
}
.side ul a{
	text-decoration: none;
    color: #555;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}
.arrow {
	padding-right: 10px;
    width: 13px;
    height: 13px;
}
.side li{
	border-top: 1px solid grey;
}
.side li:first-child {
	border-top: none;
}
.button {
	border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 15px 0 15px 0;
    margin-top: 49px;
}
.rss {
    width: 102px;
    height: 33px;
    padding: 4px 0 5px 0;
    border: 3px solid #ffa421;
    border-radius: 40px;
    background-color: white;
    font-size: 21px;
    font-weight: 500;
    line-height: 19px;
    color: #939598;
    font-family: Arial;
    margin-left: 65px;
}
.baners {
	margin-top: 30px;
}
.moc {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
    width: 124px;
    height: 69px;
    margin: 30px 50px 0 56px;
}
.moc:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 124px;
    height: 69px;
    margin: 30px 50px 0 56px;
}
.fpro {
	-webkit-filter: grayscale(100%);/*группируем элементы с одинаковыми свойствами*/
    filter: grayscale(100%);
    transition: 1s;
    width: 116px;
    height: 72px;
    margin: 16px 55px 0 59px;
}
.fpro:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 116px;
    height: 72px;
    margin: 16px 55px 0 59px;
}
.ilink {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
    width: 135px;
    height: 48px;
    margin: 26px 46px 0 49px;
}
.ilink:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 135px;
    height: 48px;
    margin: 26px 46px 0 49px;
}
.webc {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
    width: 137px;
    height: 131px;
    margin: 11px 51px 0 42px;
}
.webc:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 137px;
    height: 131px;
    margin: 11px 51px 0 42px;
}
.asoft {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
    width: 110px;
    height: 46px;
    margin: 16px 59px 0 61px;
}
.asoft:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 110px;
    height: 46px;
    margin: 16px 59px 0 61px;
}
.maine {
	float: left;
    width: 528px;
    margin: 64px 212px 111px 20px;
}
.maine h2 {
    color: #010101;
    font-family: Arial;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;

}
.vis {
	width: 528px;
    border-top: 1px solid #00a7fb;
    margin-top: -10px;
}
.vist {
	width: 528px;
    border-top: 1px solid #00a7fb;
    margin-top: 18px;
}
.ing img {
	margin: 17px 20px 0 11px;
    float: left;
}
.link {
	text-decoration: none;
}
.link h3{
    color: #03a7fe;
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin: 15px 0 0 20px;
}
.tabl {
	width: 393px;
    height: 228px;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    border-collapse: collapse;
}
.tabl td{
	padding: 7px;
}
.d a {
	text-decoration: none;
    color: #03a7fe;
}
.f a, .g a, .h a{
	text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 12px;
}

.a, .b, .c, .d {
    border-bottom: 3px solid white;

}
.a, .b, .c, .d, .e, .g, .i {
    background-color: #dfe5e6;
}
.f, .h {
    background-color: #eceff1;
}
i {
    margin-right: 5px;
    color: #6c6c6c;
}
.foot {
    float: left;
	border-top: 1px solid #b5b5b7;
    width: 776px;
    height: 61px;
    margin: 0 212px 0 212px;
}
.block {
    background-color: #d9dada;
	float: right;
    width: 503px;
    height: 30px;
    margin: 0 25px 0 248px;
    border-radius: 0 0 20px 20px;
}
.copyright {
    margin: 10px 10px 0 12px;
	float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    color: #78797b;
}
.imgl {
    margin: 7px 12px 9px 0;
	float: right;
}
.imgl img {
    width: 26px;
    height: 14px;
}
.copyright a {
    text-decoration: none;
    color: black;
}
