body {
    background: url(../img/bg.png) repeat;
}
p {
    font:  1em "Lato";
    color:  #555152;
}
a {
    font:  1em "Muli";
    text-transform: uppercase;
}
li  {
    font:  1em "Muli";
}
.header-link {
    text-align: right;
    ul {
        margin-bottom: 0;
        li {
            display: inline-block;
            .fa {
                color: #545051;
                margin: 3px 7px 0;
                
                &:hover {
                    color: #006d9f;
                    text-decoration: none;
                }
            }
        }
    }
    .donate {
        background: #61a70a;
        padding: 0.7em 1em;
        text-align: center;
        width: auto;
        a {
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
        }
    }
    .volunteer {
        background: #fdcd05;
        padding: 0.7em 1em;
        text-align: center;
        width: auto;
        margin-left: -5px;
        a {
            color: #000;
            text-transform: uppercase;
            display: inline-block;
        }
    }
}
.nav-top {
    border: none;
}
.nav-bottom {
    border: none;
    background:  #898686;
    .navbar-nav {
        li {
            a {
                color:  #fff;
            }
        }
    }
}
.navbar {
    margin-bottom: 0;
}
.main {
    background: #fff;
}
.red {
    background: #f32b34;
    padding-left: 8em;
    width: 60%;
    .title {
        background: #61a70a;
        padding: 1em;
        h2 {
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
        }
        p {
            color: #fff;
        }
    }
}
.difference {
    margin: 2em ;
    h3 {
        color: #61a70a;
        text-align: right;
    }
}
.info {
    margin: 2em ;
    p {
        
    }
}
.news {
    padding: 0;
    .title {
        background: #0070a1;
        text-align: center;
        
        h4 {
            color: #fff;
            display: inline-block;
            text-transform: uppercase;
            font: bold 2em;
        }
    }
    ul {
        padding-left: 0;
        padding-right: 0.5em;
        li {
            list-style: none;
            margin-top: 0.5em;
        }
        a {
            font: bold;
            color: #0070a1;
        }
    }
    .link {
        text-align: center;
        padding: 0.5em 1em;
        .come {
            color: #0070a1;
            text-transform: uppercase;
            background: #e6e5e5;
            padding: 0.5em 1em;
        }
    }
}
.announcements {
    padding: 0;
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    .an-one {
        padding: 0 1em;
    }
    .an-two {
        padding: 0 1em;
    }
    .title {
        background: #d23139;
        text-align: center;
        
        h4 {
            color: #fff;
            display: inline-block;
            text-transform: uppercase;
            font: bold 2em;
        }
    }
    a {
        color: #63a80d;
        text-transform: capitalize;
    }
    .border {
        padding: 0 0.5em;
        border-top: 1px dotted #000;
        border-bottom: 1px dotted #000;
        background: #e6e5e5;
    }
}
.calendar-event {
    padding: 0;
    .title {
        background: #fdcd05;
        text-align: center;
        
        h4 {
            color: #000;
            display: inline-block;
            text-transform: uppercase;
            font: bold 2em;
        }
    }
    .calendar {
        padding: 0 0.5em;
        h6 {
            color: #fdcd05;
            text-transform: uppercase;
        }
    }
    ol {
        li {
           list-style: none;
        }
    }
    .april-one {
        &::before {
            content:  '15';
            color: #fdcd05;
            margin-right: 1em;
        }
    }
    .april-two {
        &::before {
            content:  '26';
            color: #fdcd05;
            margin-right: 1em;
        }
    }
    .may-one {
        &::before {
            content:  '02';
            color: #fdcd05;
            margin-right: 1em;
        }
    }
    .link-one {
        text-align: center;
        margin-top:  1em;
    }
    .duluth {
        text-transform: uppercase;
        background:  #e6e5e5;
        color: #742e8a;
        padding: 0.5em 2.5em;
        margin-top: 1em;
    }
    .midtown {
        text-transform: uppercase;
        background:  #e6e5e5;
        color:  #fd8e0c;
        padding: 0.5em 2.2em;
        margin-top: 1em;
    }
}
.check-out {
    background: #61a70a;
    text-align: center;
    margin-top:  2em;
    a {
        color:  #fff;
        font-size:  2em;
    }
}
footer {
    background: #acaaaa;
    padding: 2em;
}
.location {
    .icons {
        text-align: right;
        h3 {
            color: #000;
            margin-right: 7em;
            display: inline-block;
            text-transform: uppercase;
        }
        ul {
            display: inline-block;
            padding:  0;
        }
        li {
            display: inline-block;
            a {
                color: #fff;
                &:hover {
                    color: #0070a1;
            }
            }
        }
    }
    .duluth {
        p {
            color: #fff;
            background: #742e8a;
            display: inline-block;
            text-transform:  uppercase;
            padding:  0.5em 1em;
            font-weight: bold;
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
            }
        }
    }
    .midthtown {
        p {
            color: #fff;
            background: #ff8a00;
            display: inline-block;
            text-transform:  uppercase;
            padding:  0.5em 1em;
            font-weight: bold;
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
            }
        }
    }
}
.src {
    background: transparent;
    text-align: right;
    max-width: 16em;
    .input [type="search"] {
        background: #fff;
        border: none;
        outline: none;
        -webkit-appearance: none;
        vertical-align: middle;
        display: inline-block;
        color:#878485;
    }
    .btn {
        background: #61a70a;
        border-radius: 0;
        
    }
}
#mc_embed_signup {
    background:  url(../img/bg.png) repeat;
    border:  1px dotted #000;
    padding:  3em 4em;
    text-align: center;
    .mc-field-group {
        margin-top:  1em;
    }
    .button {
        margin-top:  1em;
        background: #545051;
        border:  none;
        color: #fff;
    }
    
}