.tab {
  margin: 0 25px 0 0;
  width: 399px;
  float: right;
}
.tab ul {
  list-style: none;
}
.tab ul li {
  float: left;
  font-size: 16px;
  margin: 0 -1px -1px 0;
}
.tab ul li a {
  display: block;
  text-decoration: none;
  padding: 13px;
}

.main {
  border: 1px solid gray;
  border-bottom-color: #e8eced;
  border-radius: 25px 0 0 0;
  background-image: -webkit-linear-gradient(#fff, #e8eced);
  background-image: linear-gradient(#fff, #e8eced);
}
.main a {
  color: #45b8fb;
  font-family: Arial;
  font-size: 16px;
}

.goal {
  border: 1px solid gray;
  background-image: -webkit-linear-gradient(#e5eaeb, #d9d7d5);
  background-image: linear-gradient(#e5eaeb, #d9d7d5);
}
.goal a {
  color: #939598;
  font-family: Arial;
  font-size: 16px;
}

.comp {
  border: 1px solid gray;
  border-radius: 0 25px  0 0;
  background-image: -webkit-linear-gradient(#e5eaeb, #d9d7d5);
  background-image: linear-gradient(#e5eaeb, #d9d7d5);
}
.comp a {
  color: #939598;
  font-family: Arial;
  font-size: 16px;
}

.main-inform {
  float: left;
  margin-left: 20px;
  padding-top: 64px;
}
.main-inform h3 {
  color: #010101;
  font-family: Arial;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}

.main-info {
  float: left;
  width: 528px;
  border-top: 1px solid #01a1fb;
  margin: 10px 0 30px 0;
}

.tags {
  color: #636464;
  font-family: Arial;
  font-size: 10px;
  float: left;
}
.tags a {
  color: #01a1fb;
}

.date {
  float: right;
  font-family: Arial;
  font-size: 10px;
  color: #cfd2d2;
}

.content {
  clear: both;
  color: #636464;
  font-family: Arial;
  font-size: 13px;
  line-height: 18px;
  margin-top: 20px;
}
.content a {
  color: #01a1fb;
}

.voting {
  color: #636464;
  font-family: Arial;
  font-size: 12px;
}
.voting i {
  color: #06a7fb;
  margin-right: 1px;
}
.voting i:nth-of-type(4) {
  color: #999;
}
.voting i:nth-of-type(5) {
  color: #999;
}
.voting a {
  color: #01a1fb;
}

.previous {
  color: black;
  font-family: Arial;
  background-color: white;
  border: 3px solid #00a5ff;
  border-radius: 25px;
  padding: 7px;
}

.butt-on {
  margin-bottom: 12px;
}
