header {
  background: url(../img/slider-bg.png);
}
header .title {
  background: #403f44;
  color: #ffea00;
  display: inline-block;
  margin: 1em 2em;
  padding: 0.2em 0.8em 0.2em 0.4em;
  text-transform: uppercase;
  font: bold  "gothic";
}

footer {
  background: #3f3f44;
  padding-top: 2em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: transparent;
}

.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: #ffeb00;
}

.nav-tabs > li > a:hover {
  background: #ffeb00;
  border: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: -webkit-linear-gradient(top, #ffea00 0, #ffea00 100%);
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-image: -webkit-linear-gradient(top, #ffea00 0, #ffea00 100%);
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-image: -webkit-linear-gradient(top, #ffea00 0, #ffea00 100%);
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%);
}

.navbar-collapse {
  padding-top: 45px;
}

.navbar {
  border-radius: 0px;
}

.example {
  display: inline-block;
  margin: 1em 0;
}

.about h4 {
  color: #fff;
  font: bold 1.2em "gothic";
}
.about p {
  color: #fff;
  font: 0.8em "gothic";
  line-height: 21px;
}
.about .more {
  background: #000;
  border-bottom: 3px solid #ffeb00;
  color: #fff;
  font: bold 1em "gothic";
  padding: 0.2em 1em;
  margin: 2em 0;
}
.about .more:hover {
  background: #ffeb00;
  color: #000;
}
.about img {
  margin-top: 2px;
}

.tweets h4 {
  color: #fff;
  font: bold 1.2em "gothic";
}
.tweets .tweet-list {
  list-style: none;
  color: #fff;
  font: bold 1em "gothic";
}
.tweets .tweet-list li {
  display: inline-block;
  margin-top: 0.8em;
  position: relative;
}
.tweets .tweet-list li a {
  color: #ffeb00;
}
.tweets .tweet-list li .time {
  color: #ffeb00;
  font-size: 8px;
}
.tweets .tweet-list li::before {
  content: '';
  background: url(../img/twitter-birs-icon.png) no-repeat left top;
  width: 26px;
  height: 22px;
  position: absolute;
  left: -35px;
  top: 10px;
}
.tweets .tweet-list li .link {
  color: #fff;
}

.soc {
  margin-right: 5px;
}

.social li {
  text-align: center;
  display: inline-block;
  background: #000;
  color: #fff;
  width: 30px;
  min-height: 30px;
  vertical-align: middle;
  padding-top: 5px;
  margin-top: 2px;
}
.social li a {
  color: #fff;
}
.social li a:hover {
  color: #000;
}
.social li:hover {
  background: #ffeb00;
}

.address h4 {
  color: #fff;
  font: bold 1.2em "gothic";
}
.address p {
  color: #fff;
  font: 1em "gothic";
  line-height: 21px;
}

address ul {
  list-style: none;
}
address ul li {
  margin-top: 1em;
  color: #fff;
  font: 1em "gothic";
  line-height: 21px;
}

.adr {
  position: relative;
}
.adr::before {
  content: '';
  background: url(../img/adress.png) no-repeat left top;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -35px;
  top: 3px;
}

.phn {
  position: relative;
}
.phn a {
  color: #fff;
}
.phn::before {
  content: '';
  background: url(../img/phone.png) no-repeat left top;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -35px;
  top: 3px;
}

.mail {
  position: relative;
}
.mail a {
  color: #ffeb00;
}
.mail::before {
  content: '';
  background: url(../img/email.png) no-repeat left top;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -35px;
  top: 3px;
}

#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
}

#mc_embed_signup input.email {
  width: 232px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffeb00;
  border-radius: 0px;
  float: left;
}

#mc_embed_signup .button {
  background: #000;
}

#mc_embed_signup_scroll {
  display: inline-block;
}

.photo-stream ul {
  padding: 0 15px;
}
.photo-stream ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dropdown-menu {
  bottom: 0;
  top: 100%;
}

.navbar-text {
  display: inline-block;
}

.navbar-inverse {
  background: #000;
}
.navbar-inverse .navbar-text {
  color: #ffeb00;
}
