@font-face {
  font-family: 'gothic';
  src: url("../fonts/gothic.eot");
  src: local("gothic"), url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic.ttf") format("truetype"); }

@font-face {
  font-family: 'Code';
  src: local("Code Light"), local("Code-Light"), url("../fonts/codelight.woff2") format("woff2"), url("../fonts/codelight.woff") format("woff"), url("../fonts/codelight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Bold';
  src: local("Code Bold"), local("Code-Bold"), url("../fonts/codebold.woff2") format("woff2"), url("../fonts/codebold.woff") format("woff"), url("../fonts/codebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* line 19, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
body {
  background: #f6f6f6; }

/* line 22, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
footer {
  background: #3f3f44;
  padding-top: 2em; }

/* line 26, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%); }

/* line 29, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%); }

/* line 32, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-image: linear-gradient(to bottom, #ffea00 0, #ffea00 100%); }

/* line 36, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar-collapse {
  padding-top: 45px; }

/* line 39, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar {
  border-radius: 0px; }

/* line 43, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flexslider {
  background: none;
  border: 4px solid transparent; }

/* line 47, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.slide {
  background-image: url(../img/slider-bg.png);
  height: 100%;
  width: 100%;
  padding: 1em 0; }

/* line 54, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flex-control-nav {
  bottom: 20px; }

/* line 57, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flex-control-paging li a {
  border-radius: 0;
  background: #3f3f44;
  width: 23px;
  height: 23px; }
  /* line 62, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .flex-control-paging li a.flex-active {
    background: #ffeb00;
    border: 2px solid #3f3f44; }

/* line 67, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flex-direction-nav .flex-prev {
  left: 1px; }

/* line 71, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flex-direction-nav .flex-next {
  right: 1px; }

/* line 74, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.flex-direction-nav a {
  height: 50px; }

/* line 77, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.team-photo {
  margin: 4em 1em; }

/* line 80, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.motto {
  margin: 4em 1em; }
  /* line 82, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .motto h2 {
    text-transform: uppercase;
    background-color: #ffeb00;
    font: bold 4.5em "gothic";
    display: inline-block; }
  /* line 88, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .motto p {
    background-color: #000;
    color: #fff;
    font: bold 2em "gothic"; }
  /* line 93, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .motto .order-link {
    background: #000;
    border-bottom: 3px solid #ffeb00;
    color: #fff;
    font: bold 1.5em "gothic";
    float: right;
    padding: 0.2em 1em;
    margin: 2em 0; }
    /* line 101, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .motto .order-link:hover {
      background: #ffeb00;
      color: #000; }

/* line 109, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.speciality {
  text-align: center;
  margin-bottom: 2em;
  height: auto; }
  /* line 113, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .speciality p {
    color: #424147;
    font: bold 1.5em "gothic";
    margin-top: 1em; }

/* line 120, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.create {
  color: #424147;
  font: bold 2em "gothic";
  text-transform: uppercase; }

/* line 125, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.specialize {
  margin-top: 2em; }

/* line 128, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.colums {
  list-style: none;
  display: inline-block;
  margin-top: 1em; }
  /* line 132, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .colums .icon {
    background: #ffeb00;
    line-height: 120px;
    padding: 0.6em 0 0.3em; }
    /* line 136, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .icon:hover {
      background: #e3e8e6; }
    /* line 139, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .icon img {
      vertical-align: middle; }
    /* line 142, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .icon h4 {
      font: bold 20px "Code";
      color: #000;
      vertical-align: middle; }
  /* line 148, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .colums .info-botle {
    background-color: #3f3f44;
    padding: 0.1em; }
    /* line 151, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .info-botle h4 {
      color: #fff;
      text-transform: uppercase;
      font: bold 20px "Code"; }
    /* line 156, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .info-botle p {
      color: #fff;
      font: 0.7em "gothic";
      text-align: right;
      margin-right: 0.4em; }
      /* line 161, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
      .colums .info-botle p a {
        color: #ffeb00; }
  /* line 166, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .colums .info {
    background-color: #3f3f44;
    padding: 1.5em; }
    /* line 169, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .colums .info p {
      color: #fff;
      font: 1em "gothic"; }

/* line 177, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.our-work {
  text-align: center; }
  /* line 179, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .our-work p {
    color: #424146;
    font: bold 1em "gothic";
    margin-bottom: 1em; }

/* line 185, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.section-line {
  background: url(../img/line.png) repeat-x center;
  text-align: center; }
  /* line 188, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .section-line span {
    background: #403f46;
    color: #ffeb00;
    font: bold 18px "gothic";
    text-transform: uppercase;
    padding: 0 0.6em; }

/* line 198, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.grid .grid-item {
  float: left;
  margin: 1px;
  display: inline-block;
  list-style: none; }

/* line 205, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.our-client {
  text-align: center;
  padding-bottom: 3em; }
  /* line 208, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .our-client p {
    color: #424146;
    font: bold 1em "gothic";
    margin-bottom: 1em; }

/* line 215, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.about h4 {
  color: #fff;
  font: bold 1.2em "gothic"; }

/* line 219, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.about p {
  color: #fff;
  font: 0.8em "gothic";
  line-height: 21px; }

/* line 224, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.about .more {
  background: #000;
  border-bottom: 3px solid #ffeb00;
  color: #fff;
  font: bold 1em "gothic";
  padding: 0.2em 1em;
  margin: 2em 0; }
  /* line 231, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .about .more:hover {
    background: #ffeb00;
    color: #000; }

/* line 237, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.about img {
  margin-top: 2px; }

/* line 242, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.tweets h4 {
  color: #fff;
  font: bold 1.2em "gothic"; }

/* line 246, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.tweets .tweet-list {
  list-style: none;
  color: #fff;
  font: bold 1em "gothic"; }
  /* line 250, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .tweets .tweet-list li {
    display: inline-block;
    margin-top: 0.8em;
    position: relative; }
    /* line 254, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .tweets .tweet-list li a {
      color: #ffeb00; }
    /* line 257, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .tweets .tweet-list li .time {
      color: #ffeb00;
      font-size: 8px; }
    /* line 261, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .tweets .tweet-list li::before {
      content: '';
      background: url(../img/twitter-birs-icon.png) no-repeat left top;
      width: 26px;
      height: 22px;
      position: absolute;
      left: -35px;
      top: 10px; }
    /* line 271, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .tweets .tweet-list li .link {
      color: #fff; }

/* line 277, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.soc {
  margin-right: 5px; }

/* line 281, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.social li {
  text-align: center;
  display: inline-block;
  background: #000;
  color: #fff;
  width: 30px;
  min-height: 30px;
  vertical-align: middle;
  padding-top: 5px;
  margin-top: 2px; }
  /* line 291, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .social li a {
    color: #fff; }
    /* line 293, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
    .social li a:hover {
      color: #000; }
  /* line 297, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .social li:hover {
    background: #ffeb00; }

/* line 303, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.address h4 {
  color: #fff;
  font: bold 1.2em "gothic"; }

/* line 307, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.address p {
  color: #fff;
  font: 1em "gothic";
  line-height: 21px; }

/* line 314, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
address ul {
  list-style: none; }
  /* line 316, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  address ul li {
    margin-top: 1em;
    color: #fff;
    font: 1em "gothic";
    line-height: 21px; }

/* line 324, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.adr {
  position: relative; }
  /* line 326, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .adr::before {
    content: '';
    background: url(../img/adress.png) no-repeat left top;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    top: 3px; }

/* line 337, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.phn {
  position: relative; }
  /* line 339, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .phn a {
    color: #fff; }
  /* line 342, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .phn::before {
    content: '';
    background: url(../img/phone.png) no-repeat left top;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    top: 3px; }

/* line 352, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.mail {
  position: relative; }
  /* line 354, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .mail a {
    color: #ffeb00; }
  /* line 357, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .mail::before {
    content: '';
    background: url(../img/email.png) no-repeat left top;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    top: 3px; }

/* line 368, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%; }

/* line 374, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
#mc_embed_signup input.email {
  width: 232px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffeb00;
  border-radius: 0px;
  float: left; }

/* line 382, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
#mc_embed_signup .button {
  background: #000; }

/* line 386, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
#mc_embed_signup_scroll {
  display: inline-block; }

/* line 391, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.photo-stream ul {
  padding: 0 15px; }
  /* line 393, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .photo-stream ul li {
    display: inline-block;
    padding: 0;
    margin: 0; }

/* line 401, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
.navbar-inverse {
  background: #000; }
  /* line 403, D:/GeekHub/HomeWorks/10/app/scss/main.scss */
  .navbar-inverse .navbar-text {
    color: #ffeb00; }

/*# sourceMappingURL=main.css.map */