@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Code';
    src: local('Code Light'), local('Code-Light'), url('../fonts/codelight.woff2') format('woff2'), url('../fonts/codelight.woff') format('woff'), url('../fonts/codelight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Code Bold';
    src: local('Code Bold'), local('Code-Bold'), url('../fonts/codebold.woff2') format('woff2'), url('../fonts/codebold.woff') format('woff'), url('../fonts/codebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background: #f6f6f6;
}
