@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Code';
    src: local('Code Light'), local('Code-Light'), url('../fonts/codelight.woff2') format('woff2'), url('../fonts/codelight.woff') format('woff'), url('../fonts/codelight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Code Bold';
    src: local('Code Bold'), local('Code-Bold'), url('../fonts/codebold.woff2') format('woff2'), url('../fonts/codebold.woff') format('woff'), url('../fonts/codebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background: #f6f6f6;
}

.search {
    background: #403f46;
    margin-top: 1em;
    padding: 1em 2em;
    .search-line {
        background: #fff;
        border-radius: 25px;
        input[type="search"] {
            border: none;
            outline: none; 
            -webkit-appearance: none;
            vertical-align: middle; 
            display: inline-block;
            color: #737373;
            font: bold 1em "gothic";
            border-radius: 25px;
            padding-left: 1em;
   }
        .btn {
            background: transparent;
            padding: 0;
            float: right;
            margin-right: 5px;
        }
    }
}
.categories, .archive {
    background: #403f46;
    margin-top: 1em;
    padding: 2em;
    h4 {
        font: 1.3em "gothic";
        text-transform: uppercase;
        color: #ffeb00;
    }
    ul {
        display: inline-block;
        li {
        list-style: none;
        margin-top: 1em;
        position: relative;
        display: inline-block;
            a {
                color: #fff;
                font: 1.1em "gothic";
                text-transform: uppercase;
                line-height: 21px;
            }
        &::before {
            content: '';
            background: url(../img/project/arrow.png);
            width: 31px;
            height: 31px;
            position: absolute;
            left: -35px;
            top: -5px;

        }
            
    }
    }
    
}

.posts {
    background: #403f46;
    padding: 2em;
    margin-top: 1em;
    h4 {
        font: 1.3em "gothic";
        text-transform: uppercase;
        color: #ffeb00;
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            margin-top: 1em;
            display: inline-block;
            a {
                color: #fff;
                text-transform: uppercase;
                font: 1em "gothic";
            }
            img {
                float: left;
                margin-right: 0.5em;
            }
            p {
                color: #ffeb00;
                text-align: right;
                font: 0.8em "gothic";
            }
        }
    }
}
.tags {
    background: #403f46;
    padding: 2em;
    margin: 1em 0;
    h4 {
        font: 1.3em "gothic";
        text-transform: uppercase;
        color: #ffeb00;
    }
    ul {
        padding: 0;
        li {
            display: inline-block;
            font: bold 1.2em "gothic";
            color: #424147;
            background: #ffeb00;
            padding: 0.2em;
            margin-top: 0.2em;
            text-transform: uppercase;
        }
}
}
.first-post {
    margin-top: 1em;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 2em;
    .info-post {
        background: #ffeb00;
        padding: 1em;
        h2 {
            color: #000;
            font: bold 2em "gothic";
            line-height: 30px;
            text-transform: uppercase;
        }
        p {
            color: #000;
            font: bold 0.9em "gothic";
            line-height: 20px;
            text-align: right;
            a {
                color: #5e5e5e;
                font: bold 0.9em "gothic";
            }
        }
    }
    p {
        color: #424147;
        font: bold 1em "gothic";
        line-height: 30px;
        margin-top: 1em;
    }
}
h5 {
    display: inline-block;
    color: #ffea00;
    background: #403f46;
    padding: 0 0.3em;
    font: bold 1.2em "gothic";
    line-height: 21px;
    text-transform: uppercase;
    margin: 1em 0;
}
.post-share {
    h5 {
        float: left;
    }
    li {
        display: inline-block;
        background: #ffea00;
        color: #424147;
        font: bold 1.2em "gothic";
        line-height: 21px;
        line-height: 21px;
        padding: 0 0.8em 0 0;
        text-align: center;
        a {
            color: #fff;
            background: #000;
            text-align: center;
            padding: 0.3em 0.5em;
            margin-right: 1em;
        }
        
    }
}
.related {
    margin-top: 1em;
    border-bottom: 1px solid #d5d5d5;
    ul {
        display: inline-block;
        li {
            display: inline-block;
            margin-top: 1em;
            .blog {
                background-color: #ffea00;
                padding: 0.6em;
                h6 {
                    color: #000;
                    font: bold 1em "gothic";
                    line-height: 17px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.coments {
    border-bottom: 1px solid #d5d5d5;
    li {
        list-style: none;
        .icon {
            float: left;
            margin-right: 1em;
        }
        .info {
            .nickname {
                color: #000;
                font: bold 1em "gothic";
                line-height: 21px;
            }
            .coment {
                color: #424147;
                font: bold 1em "gothic";
                line-height: 30px;
            }
        }
    }
}
.leave-coment {
    input[type="text"] {
            border: none;
            outline: none; 
            -webkit-appearance: none;
            vertical-align: middle; 
            display: inline-block;
            color: #737373;
            font: bold 1em "gothic";
            line-height: 30px;
            padding-left: 1em;
            border-right: 4px solid #f6f6f6;
    }
    input[type="email"] {
            border: none;
            outline: none; 
            -webkit-appearance: none;
            vertical-align: middle; 
            display: inline-block;
            color: #737373;
            font: bold 1em "gothic";
            line-height: 30px;
            padding-left: 1em;
            border-left: 4px solid #f6f6f6;
    }
    .text-area {
            border: none;
            outline: none; 
            -webkit-appearance: none;
            vertical-align: middle; 
            display: inline-block;
            color: #737373;
            font: bold 1em "gothic";
            line-height: 30px;
            padding-left: 1em;
            margin-top: 1em;
    }
    a {
        float: right;
        color: #fff;
        background: #000;
        border-bottom: 2px solid #ffea00;
        font: bold 1em "gothic";
        padding: 0.2em 0.5em;
        margin: 1em 0;
        &:hover {
            color: #000;
            background: #ffea00;
        }
    }
}