@font-face {
  font-family: 'gothic';
  src: url("../fonts/gothic.eot");
  src: local("gothic"), url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic.ttf") format("truetype"); }

@font-face {
  font-family: 'Code';
  src: local("Code Light"), local("Code-Light"), url("../fonts/codelight.woff2") format("woff2"), url("../fonts/codelight.woff") format("woff"), url("../fonts/codelight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Bold';
  src: local("Code Bold"), local("Code-Bold"), url("../fonts/codebold.woff2") format("woff2"), url("../fonts/codebold.woff") format("woff"), url("../fonts/codebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* line 19, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
body {
  background: #f6f6f6; }

/* line 23, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.search {
  background: #403f46;
  margin-top: 1em;
  padding: 1em 2em; }
  /* line 27, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .search .search-line {
    background: #fff;
    border-radius: 25px; }
    /* line 30, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .search .search-line input[type="search"] {
      border: none;
      outline: none;
      -webkit-appearance: none;
      vertical-align: middle;
      display: inline-block;
      color: #737373;
      font: bold 1em "gothic";
      border-radius: 25px;
      padding-left: 1em; }
    /* line 41, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .search .search-line .btn {
      background: transparent;
      padding: 0;
      float: right;
      margin-right: 5px; }

/* line 49, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.categories, .archive {
  background: #403f46;
  margin-top: 1em;
  padding: 2em; }
  /* line 53, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .categories h4, .archive h4 {
    font: 1.3em "gothic";
    text-transform: uppercase;
    color: #ffeb00; }
  /* line 58, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .categories ul, .archive ul {
    display: inline-block; }
    /* line 60, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .categories ul li, .archive ul li {
      list-style: none;
      margin-top: 1em;
      position: relative;
      display: inline-block; }
      /* line 65, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .categories ul li a, .archive ul li a {
        color: #fff;
        font: 1.1em "gothic";
        text-transform: uppercase;
        line-height: 21px; }
      /* line 71, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .categories ul li::before, .archive ul li::before {
        content: '';
        background: url(../img/project/arrow.png);
        width: 31px;
        height: 31px;
        position: absolute;
        left: -35px;
        top: -5px; }

/* line 87, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.posts {
  background: #403f46;
  padding: 2em;
  margin-top: 1em; }
  /* line 91, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .posts h4 {
    font: 1.3em "gothic";
    text-transform: uppercase;
    color: #ffeb00; }
  /* line 96, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .posts ul {
    padding: 0;
    list-style: none; }
    /* line 99, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .posts ul li {
      margin-top: 1em;
      display: inline-block; }
      /* line 102, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .posts ul li a {
        color: #fff;
        text-transform: uppercase;
        font: 1em "gothic"; }
      /* line 107, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .posts ul li img {
        float: left;
        margin-right: 0.5em; }
      /* line 111, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .posts ul li p {
        color: #ffeb00;
        text-align: right;
        font: 0.8em "gothic"; }

/* line 119, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.tags {
  background: #403f46;
  padding: 2em;
  margin: 1em 0; }
  /* line 123, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .tags h4 {
    font: 1.3em "gothic";
    text-transform: uppercase;
    color: #ffeb00; }
  /* line 128, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .tags ul {
    padding: 0; }
    /* line 130, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .tags ul li {
      display: inline-block;
      font: bold 1.2em "gothic";
      color: #424147;
      background: #ffeb00;
      padding: 0.2em;
      margin-top: 0.2em;
      text-transform: uppercase; }

/* line 141, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.first-post {
  margin-top: 1em;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 2em; }
  /* line 145, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .first-post .info-post {
    background: #ffeb00;
    padding: 1em; }
    /* line 148, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .first-post .info-post h2 {
      color: #000;
      font: bold 2em "gothic";
      line-height: 30px;
      text-transform: uppercase; }
    /* line 154, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .first-post .info-post p {
      color: #000;
      font: bold 0.9em "gothic";
      line-height: 20px;
      text-align: right; }
      /* line 159, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .first-post .info-post p a {
        color: #5e5e5e;
        font: bold 0.9em "gothic"; }
  /* line 165, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .first-post p {
    color: #424147;
    font: bold 1em "gothic";
    line-height: 30px;
    margin-top: 1em; }

/* line 172, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
h5 {
  display: inline-block;
  color: #ffea00;
  background: #403f46;
  padding: 0 0.3em;
  font: bold 1.2em "gothic";
  line-height: 21px;
  text-transform: uppercase;
  margin: 1em 0; }

/* line 183, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.post-share h5 {
  float: left; }

/* line 186, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.post-share li {
  display: inline-block;
  background: #ffea00;
  color: #424147;
  font: bold 1.2em "gothic";
  line-height: 21px;
  line-height: 21px;
  padding: 0 0.5em 0 0;
  text-align: center; }
  /* line 195, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .post-share li a {
    color: #fff;
    background: #000;
    text-align: center;
    padding: 0.3em 0.5em; }

/* line 204, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.related {
  margin-top: 1em;
  border-bottom: 1px solid #d5d5d5; }
  /* line 207, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .related ul {
    display: inline-block; }
    /* line 209, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .related ul li {
      display: inline-block;
      margin-top: 1em; }
      /* line 212, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
      .related ul li .blog {
        background-color: #ffea00;
        padding: 0.6em; }
        /* line 215, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
        .related ul li .blog h6 {
          color: #000;
          font: bold 1em "gothic";
          line-height: 17px;
          text-transform: uppercase; }

/* line 225, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
.coments {
  border-bottom: 1px solid #d5d5d5; }
  /* line 227, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
  .coments li {
    list-style: none; }
    /* line 229, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .coments li .icon {
      float: left;
      margin-right: 1em; }
    /* line 234, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .coments li .info .nickname {
      color: #000;
      font: bold 1em "gothic";
      line-height: 21px; }
    /* line 239, D:/GeekHub/HomeWorks/10/app/scss/single-post.scss */
    .coments li .info .coment {
      color: #424147;
      font: bold 1em "gothic";
      line-height: 30px; }

/*# sourceMappingURL=single-post.css.map */